.dropdown {
    //margin-top: 5%;
    //margin-left: 10%;
    .dropdown-menu {
        margin: auto;
    }
    .RemoveColu {
        margin-left: 2%;
    }
    .RemoveColu:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}